* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 40px;
    background: #003552;
    padding: 100px;
    color: #fff;
    font-weight: bolder;

    .red {
        color: red;
    }

    .green {
        color: green;
    }
}

.records {
    width:40%;
    display: flex;
    flex-direction: column;

    
}

