* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 40px;
    background: lightslategrey;
}